[colors]
;background = #252935 ; dark grey
background = #FFFF00
background-alt = #444
;foreground = ${xrdb:color7:#222}
foreground = #9ca1ac
foreground-alt = #8c919d
primary = #ffb52a
secondary = #e60053
alert = #bd2c40

[monokai]
dark    = #272822   
; http://www.colourlovers.com/color/272822/Sundried_clay

red     = #f92672   
; http://www.colourlovers.com/color/F92672/Orchid 

blue    = #66d9ef   
; http://www.colourlovers.com/color/66D9EF/bounded_rationality 

green   = #a6e22e   
; http://www.colourlovers.com/color/A6E22E/henn1nk 

orange  = #fd971f   
; http://www.colourlovers.com/color/FD971F/Pumpkin_Spice

yellow  = #FFE86A
; http://www.colourlovers.com/color/FFE86A/Wobbly_pudding 

white   = #FFF7FB
; http://www.colourlovers.com/color/FFF7FB/Vormator_white 

grey    = #e0e0e0
#grey    = #898989
; http://www.colourlovers.com/color/E0E0E0/average_joe 

