[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false


ws-icon-0 = 1;
ws-icon-1 = 2;
ws-icon-2 = 10;
ws-icon-default = " "

; Only show workspaces on the same output as the bar
;pin-workspaces = true

label-mode-padding = 2
label-mode = "  %mode%"
label-mode-foreground = ${monokai.dark}
label-mode-background = ${monokai.orange}

; focused = Active workspace on focused monitor
label-focused = %name%
;%icon%
label-focused-foreground = ${monokai.dark}
label-focused-background = ${monokai.grey}
label-focused-underline= ${monokai.dark}
label-focused-overline= ${monokai.grey}
label-focused-padding = 2

; unfocused = Inactive workspace on any monitor
label-unfocused = %name%
;%{F#fff7fb}%icon%%{F-}
label-unfocused-padding = 2

; visible = Active workspace on unfocused monitor
label-visible = %name%
#label-visible-background = ${monokai.dark}
label-visible-underline = ${monokai.grey}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = " %name%"
;%icon%"
label-urgent-foreground = ${monokai.dark}
label-urgent-overline = ${monokai.red}
label-urgent-background = ${monokai.red}
label-urgent-padding = 2

; Only show workspaces on the same output as the bar
pin-workspaces = true

